html {
  overflow-x: hidden;
}

#nav-dot {
  position: fixed;
  top: 50%;
  right: 0.5rem;
  z-index: $zindex-fixed;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  .list-group {
    &-item {
      background-color: unset;
      padding: unset;
      border-width: 0;
      min-width: 1rem;
      text-align: center;

      &.active {
        .list-group-dot {
          width: 1rem;
          height: 1rem;
          background-color: $gray-600;
          @include transition($transition-base);
        }
      }
    }

    &-dot {
      display: inline-block;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 10rem;
      background-color: $gray-400;
      @include transition($transition-base);
    }
  }
}

main {
  line-height: 1;


}

.btn-lazada {
  display: inline-block;
  @include transition($transition-base);

  img {
    border-radius: 10rem;
    box-shadow: 0px 3px 3px rgba(black, 0.5);
  }

  @include hover {
    transform: scale(1.05);
    @include transition($transition-base);
  }
}

[data-aos="rotate-ac"] {
  transform: rotate(180deg) scale(0);
  transition-property: transform;

  &.aos-animate {
    transform: rotate(0deg) scale(1);
  }
}