#section4 {
    background-image: url("../images/bg-sec4.jpg");
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    padding-bottom: 3rem;

    .bg-milk {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 0;

        &-mb {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
            z-index: 0;

        }
    }

    .container {
        z-index: 1;
    }

    .section {
        &-title {
            margin-bottom: -2.5rem;
        }

        &-left {
            text-align: right;
        }

        &-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-right {
            text-align-last: left;
        }
    }

    @include media-breakpoint-up(lg) {
        .bg-milk-mb {
            display: none;
        }
    }

    @include media-breakpoint-down(md) {
        background-image: url("../images/bg-mb-5.jpg");

        .bg-milk {
            display: none;
        }
    }
}