#section2 {
    background-image: url("../images/bg-sec2.jpg");
    text-align: center;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .section {
        &-top {
            padding-top: 1.5rem;

            img {
                display: block;
                max-width: 100%;
                margin: 0 auto;
            }
        }

        &-middle {
            width: 560px;

            @include media-breakpoint-down(sm) {
                width: 90%;
            }

            .carousel {
                margin-bottom: 1rem;

                &-indicators {
                    li {
                        background-color: $primary;
                    }
                }

                &-control {
                    &-prev {
                        width: 15px;
                        top: unset;
                        bottom: calc(220px / 2);
                        left: -20px;

                        &-icon {
                            background-image: url("../images/arrow-left.png");
                            width: 15px;
                            height: 26px;
                        }
                    }

                    &-next {
                        width: 15px;
                        top: unset;
                        bottom: calc(220px / 2);
                        right: -20px;

                        &-icon {
                            background-image: url("../images/arrow-right.png");
                            width: 15px;
                            height: 26px;
                        }
                    }
                }

                &-inner {
                    .carousel-item {
                        min-height: 220px;
                        background-repeat: no-repeat;
                        background-position: center top;
                        background-size: 100% 100%;
                        padding: 2rem 2rem 1rem;

                        @include rfs(21);
                        line-height: 1;

                        &:nth-child(1) {
                            background-image: url("../images/bg-yellow.png");

                            @include media-breakpoint-down(md) {
                                background-image: url("../images/bg-yellow-mb.png");
                            }
                        }

                        &:nth-child(2) {
                            background-image: url("../images/bg-pink.png");

                            @include media-breakpoint-down(md) {
                                background-image: url("../images/bg-pink-mb.png");
                            }
                        }

                        &:nth-child(3) {
                            background-image: url("../images/bg-blue.png");

                            @include media-breakpoint-down(md) {
                                background-image: url("../images/bg-blue-mb.png");
                            }
                        }

                        &:nth-child(4) {
                            background-image: url("../images/bg-orange.png");

                            @include media-breakpoint-down(md) {
                                background-image: url("../images/bg-orange-mb.png");
                            }
                        }

                        &:nth-child(5) {
                            background-image: url("../images/bg-green.png");

                            @include media-breakpoint-down(md) {
                                background-image: url("../images/bg-green-mb.png");
                            }
                        }

                        .row {
                            align-items: center;
                            height: 100%;

                            .col-7 {
                                img {
                                    margin-bottom: 0.5rem;
                                }
                            }
                        }
                    }
                }
            }

            &-circle {
                position: relative;
                z-index: 2;
                width: 220px;
                height: 220px;
                background: url("../images/circle-bg.png") no-repeat center center;
                background-size: auto;
                margin: 0 auto -40px;

                .circle-hover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding-left: 0;
                    right: unset;
                    bottom: unset;
                    display: block;
                    margin-left: unset;
                    margin-right: unset;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 53px;
                        left: 74px;
                        width: 75px;
                        height: 106px;
                        background: url("../images/circle-fg.png") no-repeat center center;
                        background-size: auto;
                    }

                    &-item {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: inline-block;
                        flex: unset;
                        margin-left: unset;
                        margin-right: unset;
                        background-color: unset !important;
                        text-indent: unset;
                        width: unset;
                        height: unset;
                        border-top-width: 0;
                        border-bottom-width: 0;
                        opacity: 1;

                        &.active {
                            opacity: 0;
                        }

                        @include hover-focus {
                            opacity: 0;
                        }

                        &:nth-child(1) {
                            top: 16px;
                            left: 60px;
                        }

                        &:nth-child(2) {
                            top: 37px;
                            left: 119px;
                        }

                        &:nth-child(3) {
                            top: 118px;
                            left: 116px;
                        }

                        &:nth-child(4) {
                            top: 118px;
                            left: 27px;
                        }

                        &:nth-child(5) {
                            top: 40px;
                            left: 18px;
                        }
                    }
                }
            }
        }

        &-bottom {
            @include rfs(20);
            color: $secondary;

            @include media-breakpoint-down(md) {
                font-size: 14px;
            }
        }
    }

    @include media-breakpoint-down(md) {
        background-image: url("../images/bg-mb-3.jpg");
    }
}