#section3 {
    background-image: url("../images/bg-sec3.jpg");
    justify-content: flex-start;

    .section {
        &-header {
            background: url("../images/title-bg-sec3.png") no-repeat center top;
            background-size: 100% 100%;
            text-align: center;
            padding: .5rem 0 1.5rem;
            margin-bottom: 2.5rem;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../../dist/images/tips.png') no-repeat 12% 12%;
                background-size: auto 50px;

                @include media-breakpoint-up(lg) {
                    background-position: 35% 12%;
                }
            }

            h1 {
                position: relative;
                @include rfs(35);
                color: white;

                small {
                    @include rfs(27);
                    display: block;
                    margin-bottom: -0.5rem;
                }
            }
        }

        &-dt {

            @include media-breakpoint-down(md) {
                display: none;
            }


        }

        &-mb {

            .accordion {
                position: relative;

                .card {
                    background-color: unset;
                    border-width: 0;
                    background-repeat: no-repeat;
                    background-position: center top;
                    background-size: auto 100%;
                    margin-bottom: 1.5rem;

                    &[aria-expanded=true] {
                        background-size: 100% 100%;
                        animation: none;
                    }

                    &-header {
                        background-color: unset;
                        border-bottom-width: 0;
                        text-align: center;
                        min-height: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        color: white;
                        font-size: 30px;
                    }

                    &-body {
                        padding-left: 2rem;
                        padding-right: 3.5rem;
                        padding-bottom: 2.5rem;
                        font-size: 24px;
                        color: rgba(black, .3);
                    }

                    &-pink {
                        background-image: url('../../dist/images/cloud-1.png');
                        animation: cloud 10s linear infinite alternate;

                        &[aria-expanded=true] {
                            background-image: url('../../dist/images/cloud-focus-pink.png');

                        }
                    }

                    &-blue {
                        background-image: url('../../dist/images/cloud-2.png');
                        animation: cloud2 10s linear infinite alternate;

                        &[aria-expanded=true] {
                            background-image: url('../../dist/images/cloud-focus-blue.png');
                        }
                    }

                    &-green {
                        background-image: url('../../dist/images/cloud-3.png');
                        animation: cloud 8s linear infinite alternate;

                        &[aria-expanded=true] {
                            background-image: url('../../dist/images/cloud-focus-green.png');
                        }
                    }

                    &-orange {
                        background-image: url('../../dist/images/cloud-4.png');
                        animation: cloud2 8s linear infinite alternate;

                        &[aria-expanded=true] {
                            background-image: url('../../dist/images/cloud-focus-orange.png');
                        }
                    }

                    &-yellow {
                        background-image: url('../../dist/images/cloud-5.png');
                        animation: cloud 6s linear infinite alternate;

                        &[aria-expanded=true] {
                            background-image: url('../../dist/images/cloud-focus-yellow.png');
                        }
                    }
                }
            }

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }

    .nav-pills {
        justify-content: space-between;

        .nav {
            &-link {
                background-color: unset;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100% 100%;
                text-align: center;
                color: white;
                padding: 2rem 1rem 0.25rem;
                min-width: 180px;
                @include rfs(21);

                &.pink {
                    background-image: url("../images/cloud-1.png");
                    animation: cloud 10s linear infinite alternate;
                }

                &.blue {
                    margin-top: 3rem;
                    background-image: url("../images/cloud-2.png");
                    animation: cloud2 8s linear infinite alternate;
                }

                &.green {
                    background-image: url("../images/cloud-3.png");
                    animation: cloud 9s linear infinite alternate;
                }

                &.orange {
                    margin-top: 3rem;
                    background-image: url("../images/cloud-4.png");
                    animation: cloud2 10s linear infinite alternate;
                }

                &.yellow {
                    background-image: url("../images/cloud-5.png");
                    animation: cloud 8s linear infinite alternate;
                }
            }


        }
    }

    .tab-content {
        .cloud-big {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% 100%;
            max-width: 548px;
            min-height: 325px;
            margin: 0 auto;
            color: rgba(black, 0.3);
            @include rfs(22);
            padding: 3rem 6rem 1rem 4rem;
            line-height: 1;

            h1 {
                text-align: center;
                color: white;
            }

            &.pink {
                background-image: url("../images/cloud-1-big.png");
            }

            &.blue {
                background-image: url("../images/cloud-2-big.png");
            }

            &.green {
                background-image: url("../images/cloud-3-big.png");
            }

            &.orange {
                background-image: url("../images/cloud-4-big.png");

                h1 {
                    @include rfs(25);
                }
            }

            &.yellow {
                background-image: url("../images/cloud-5-big.png");

                h1 {
                    @include rfs(30);
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        background-image: url("../images/bg-mb-4.jpg");
    }

    @keyframes cloud {
        from {
            transform: translateX(-30px);
        }

        to {
            transform: translateX(30px);
        }
    }

    @keyframes cloud2 {
        from {
            transform: translateX(30px);
        }

        to {
            transform: translateX(-30px);
        }
    }
}