.section {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    min-height: 100vh;

    overflow: hidden;

    @include media-breakpoint-up(lg) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img {
        max-width: 100%;
    }
}

@import './sec0';
@import './sec1';
@import './sec2';
@import './sec3';
@import './sec4';